@import
'resources/reset',

'resources/mixins',
'resources/fonts',
'resources/palette',
'resources/variables',
'resources/base',

'atoms/typography',
'atoms/animations',

'blocs/navbar',
'blocs/book',

'sections/instructions',
'sections/interaction-one',
'sections/interaction-two',
'sections/interaction-three',
'sections/interaction-four',

'pages/homepage',
'pages/about';
