@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba($pink-400, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba($pink-400, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba($pink-400, 0);
  }
}

@-webkit-keyframes pulsate {
  0% {
      opacity: 0.6;
  }
  50% {
      opacity: 1.0;
  }
  100% {
      opacity: 0.6;
  }
}
