h1 {
  @include responsive_font($min: 3, $max: 4.5);

  &.big {
    @include responsive_font($min: 7, $max: 10.8);
  }
}

h2 {
  @include responsive_font($min: 2.4, $max: 2.8, $weight: 700);

  &.big {
    @include responsive_font($min: 5, $max: 7);
  }
}

h3 {
  @include responsive_font($min: 2, $max: 2.4, $weight: 700);
}

p,
ul,
li,
q,
address {
  font-family: "Helvetica", sans-serif;
  @include responsive_font($min: 2, $max: 2.4);
}

button {
  @include responsive_font($min: 2.5, $max: 3.5);
}

span {
  text-transform: uppercase;
  font-family: "Helvetica", sans-serif;
  @include responsive_font($min: 1.4, $max: 1.8);
}
