.instructions {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;

  .content-wrapper {
    width: 50%;
    margin-left: $xxl * 3;

    h1 {
      color: $pink-400;
      margin-bottom: $sm;
    }
  }

  .drag-start {
    width: 30rem;
    height: 60rem;
  }

  .drag-end {
    position: relative;
    z-index: -1;
    width: 4rem;
    height: 4rem;
    border-radius: $lg;
    border: solid 1px $pink-400;
    margin: ($xxl * 1.6) auto 0 auto;

    box-shadow: 0 0 0 0 rgba($pink-400, 1);
    transform: scale(1);
    animation: pulse 2s infinite;
  }
}
