.instructions {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .content-wrapper {
    width: 30%;
    margin-left: $lg;

    h1 {
      color: $black;
      margin-bottom: $sm;
    }
  }

  .interaction-start {
    position: absolute;
    bottom: -90vh;
    width: fit-content;
    width: -webkit-fit-content;
    height: fit-content;
    height: -webkit-fit-content;
    margin-left: $lg;

    p {
      @extend span;
      text-transform: initial;
      font-family: "Helvetica Light", sans-serif;
      animation: pulsate 1s ease-out;
      animation-iteration-count: infinite;
      -webkit-animation: pulsate 1s ease-out;
      -webkit-animation-iteration-count: infinite;
      opacity: 0.6;

      span {
        position: relative;
        font-family: "Permanent Marker", cursive;
        @include responsive_font($min: 2, $max: 2.4);

        &::before {
          content: '';
          background-image: url('../media/enter.svg');
          background-size: 100%;
          background-position: right;
          background-repeat: no-repeat;
          top: -5vh;
          left: 0;
          bottom: -5vh;
          right: 0;
          position: absolute;
          z-index: -1;
        }
      }
    }
  }
}
