.interaction-one {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-image: url("../media/svg/fundo.svg");
  background-size: cover;
  background-position: center;

  .drag-start {
    width: 30rem;
    height: 60rem;
    position: absolute;
    left: $lg * 20;
    top: $lg * 2;
  }

  .drag-end {
    position: relative;
    z-index: -1;
    width: 4rem;
    height: 4rem;
    border-radius: $lg;
    border: solid 1px $pink-400;
    margin: ($xxl * 1.6) auto 0 auto;

    box-shadow: 0 0 0 0 rgba($pink-400, 1);
    transform: scale(1);
    animation: pulse 2s infinite;
  }

  .drag-instruction {
    z-index: 1;
    background-color: $pink-400;
    width: 50rem;
    height: fit-content;
    height: -webkit-fit-content;
    border-radius: $xs;
    padding: $sm;
    box-shadow: 2px 5px 6px 0 rgba($black, 0.25);
    margin: 0 $md $lg 0;

    p {
      font-family: "Permanent Marker", cursive;
      color: $white;
    }
  }
}
