.about {
  width: 100vw;
  height: 100vh;
  //aumentar tamanho de letra da imagem para segunda meta
  //diminuir peso da imagem
  background-image: url("../media/sobre_book.png");
  background-position: 50% 30%;
  background-size: 100%;

  .close-page {
    @extend button;
    line-height: 80%;

    &:hover {
      color: $pink-400;
    }
  }

  div {
    width: fit-content;
    width: -webkit-fit-content;
    margin: $lg auto;
    text-align: center;

    .book-author {
      &:before {
        content: "—";
      }
    }
  }
}
