.homepage {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &::before {
    content: "";
    background-image: url("../media/fundo.png");
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    bottom: -40vh;
    right: 0;
    position: absolute;
    z-index: -1;
  }

  &::after {
    content: "";
    background-image: url("../media/banner.png");
    background-size: 100vw 200vh;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    right: 0;
    bottom: -100vh;
    position: absolute;
    z-index: -1;
  }

  .chevron-down {
    position: absolute;
    bottom: 0;
    cursor: pointer;
    margin-bottom: $md;
  }
}
