.homepage {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &::before {
    content: "";
    background-image: url("../media/svg/fundo.svg");
    background-size: cover;
    background-position: center;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }

  div {
    &:not(.drag-start) {
      width: fit-content;
      width: -webkit-fit-content;
      margin-top: $lg * 10;

      h1,
      h2 {
        width: fit-content;
        width: -webkit-fit-content;
        margin: auto;
      }

      h1 {
        @extend h1.big;
      }

      h2 {
        @extend h2.big;
      }
    }
  }

  .chevron-down {
    cursor: pointer;
    margin-bottom: $md;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba($pink-400, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba($pink-400, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba($pink-400, 0);
  }
}
