.homepage {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;

  div {
    &:not(.drag-start) {
      width: fit-content;
      width: -webkit-fit-content;
      margin-top: $lg * 10;

      h1,
      h2 {
        width: fit-content;
        width: -webkit-fit-content;
        margin: auto;
      }
    }

    &.drag-start {
      width: 20rem;
      height: 35rem;
      position: absolute;
      top: $lg * 20;
    }
  }


}
