/*
--------------------------------------------------------------------------------
COLORS -- alphabetical order
--------------------------------------------------------------------------------
*/

$black:         #000000;
$white:         #FAFAFA;
$grey-400:      #D7D7D7;
$pink-200:      #EB64AA;
$pink-400:      #EA4A9D;
$green-200:     #66A179;
$green-400:     #4C9054;
