/*
--------------------------------------------------------------------------------
SPACING VARIABLES
--------------------------------------------------------------------------------
*/

$baseline:   12px;
$space-unit: 16px;

$xxs:        $space-unit * 0.25;  // 4px
$xs:         $space-unit * 0.5;   // 8px
$sm:         $space-unit * 1;     // 16px
$md:         $space-unit * 1.5;   // 24px
$lg:         $space-unit * 2;     // 32px
$xl:         $space-unit * 2.5;   // 40px
$xxl:        $space-unit * 5;     // 80px
